    <div class="container">
      <div class="row">
        <div class="span5">
          <p>
            <img src="http://placehold.it/360x180/e2e2e2" alt="">
          </p>
          <address>
            <strong>Project Name</strong><br>
            1234 Street Name<br>
            City, State 00000<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
           
          <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">a21200565@gmail.com</a>
          </address>
        </div>

        <div class="span7">
          <h1>Contact</h1>
          <p class="lead">Get in touch with us.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <form class="form-horizontal">
            <p>
              <label><strong>Your name:</strong></label>
              <input class="input-xlarge" required type="text" name="name" />
            </p>
            <p>
              <label><strong>Valid email address:</strong></label>
              <input class="input-xlarge" required type="email" name="email" />
            </p>
            <p>
              <label><strong>Message:</strong></label>
              <textarea rows="5" required class="input-xlarge"></textarea>
            </p>
            <p>
              <input type="submit" value="Send" />
            </p>
          </form>
        </div>
      </div>
    </div> <!-- /container -->