    <div class="container">
      <h1>$title</h1>
      <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
      <h3>Category A</h3>
      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
      </ul>

      <h3>Category B</h3>
      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#">
            <img src="http://placehold.it/220x150/e2e2e2" alt="">
          </a>
        </li>
      </ul>
    </div> <!-- /container -->