    <div class="container">
    <!-- Slideshow-->
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="http://placehold.it/940x420/e2e2e2&text=This+is+the+first+slide" alt="">
        </div>
        <div class="item">
          <img src="http://placehold.it/940x420/e2e2e2&text=Slide+2+comes+here" alt="">
        </div>
        <div class="item">
          <img src="http://placehold.it/940x420/e2e2e2&text=Three+slides+for+this+demo" alt="">
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <!-- /.Slideshow-->

    <!-- 3 cols -->
    <div class="row-fluid">
      <div class="span4">
        <h2>Some heading 1</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p><a class="btn" href="#">View details »</a></p>
      </div>
      <div class="span4">
        <h2>Some heading 2</h2>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
        <p><a class="btn" href="#">View details »</a></p>
      </div>
      <div class="span4">
        <h2>Some heading 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        <p><a class="btn" href="#">View details »</a></p>
      </div>
    </div>
  </div> <!-- /container -->

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/bootstrap-collapse.js"></script>
  <script src="js/bootstrap-carousel.js"></script>
  <script src="js/bootstrap-transition.js"></script>
  <script type="text/javascript">
    (function(){
      //using jQuery instead of the dollar sign coz python's string.Template breaks on it
      jQuery('.carousel').carousel({
        interval: 2000
      });
    })();
  </script>