    <div class="container footer">
        <hr />
        <p>&copy; $year $project_name</p>
    </div>
	<script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
    <script>
        var _gaq=[['_setAccount','$google_analytics_id'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
